<div class="title">
  <h1>about</h1>
</div>
  <hr class="small">
<div class="text">
  <div class="col">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in lectus at nibh tempor eleifend. Aenean eget scelerisque est, vel semper nulla. Mauris pharetra vestibulum volutpat. Donec eros leo, lacinia at tempor sed, tincidunt sed arcu. Aenean elit neque, consectetur quis ligula tempus, imperdiet pretium velit. Sed vestibulum dolor id ante venenatis tempor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed neque mauris, vulputate ut cursus nec, feugiat a libero. Maecenas eu semper augue. Aenean ac vulputate est, nec imperdiet risus.
    </p>
    <p>
      Curabitur pulvinar cursus dolor sit amet sodales. Ut venenatis laoreet libero, a faucibus nibh vehicula ut. Mauris non massa auctor tellus euismod rutrum quis id nisi. Vestibulum lorem ex, malesuada a arcu eget, interdum dignissim velit. Fusce egestas vehicula felis, sit amet blandit neque pretium in. Suspendisse sollicitudin lorem ligula, sed condimentum magna venenatis vitae. In hac habitasse platea dictumst. Vivamus euismod eros vel consectetur pellentesque. Vivamus porta lobortis orci, in porta risus.
    </p>
    <p>
    </p>
    <p>
      Phasellus quis leo a ipsum aliquet pellentesque. Quisque interdum auctor ex, at viverra lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum tellus vitae justo mollis gravida. Sed id est at eros hendrerit gravida in ut lacus. In hac habitasse platea dictumst. Morbi ac dapibus ex, eget bibendum magna. Maecenas urna nibh, gravida a lacus a, euismod dictum magna. Maecenas semper, dolor id feugiat finibus, elit urna sagittis odio, ac imperdiet purus libero pretium ante. Nam eget nisi facilisis, rhoncus massa eget, lobortis urna. Etiam non risus a leo condimentum faucibus. Fusce lectus neque, tincidunt at felis in, interdum viverra turpis. Proin elit orci, placerat et mi ac, tincidunt egestas sem.
    </p>
  </div>
  <div class="col">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in lectus at nibh tempor eleifend. Aenean eget scelerisque est, vel semper nulla. Mauris pharetra vestibulum volutpat. Donec eros leo, lacinia at tempor sed, tincidunt sed arcu. Aenean elit neque, consectetur quis ligula tempus, imperdiet pretium velit. Sed vestibulum dolor id ante venenatis tempor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed neque mauris, vulputate ut cursus nec, feugiat a libero. Maecenas eu semper augue. Aenean ac vulputate est, nec imperdiet risus.
    </p>
    <p>
      Curabitur pulvinar cursus dolor sit amet sodales. Ut venenatis laoreet libero, a faucibus nibh vehicula ut. Mauris non massa auctor tellus euismod rutrum quis id nisi. Vestibulum lorem ex, malesuada a arcu eget, interdum dignissim velit. Fusce egestas vehicula felis, sit amet blandit neque pretium in. Suspendisse sollicitudin lorem ligula, sed condimentum magna venenatis vitae. In hac habitasse platea dictumst. Vivamus euismod eros vel consectetur pellentesque. Vivamus porta lobortis orci, in porta risus.
    </p>
  </div>
</div>
