<div class="home-content">
  <div id="logo">
    <img src="../cimmerian-app/assets/img/logo.svg">
  </div>
  <div class="desc">
    Cimmerian is an ongoing visual storytelling project by Genevive LR. A collection of still and moving images depicting her ethereal universe.
  </div>
  <div class="branch-sep-1"></div>
  <a href="https://www.patreon.com/cimmerian">
    <div class="support-patreon">
      <div class="text">support cimmerian on patreon and get access to exclusive content</div>
    </div>
  </a>
  <div class="branch-sep-1"></div>
</div>
<div class="timeline">
  <div class="back-line"></div>
</div>
<footer class="footer">
  <div class="social-icons">
    <a class="social" target="_blank" href="https://www.instagram.com/cimmerian.co/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    <a class="social" target="_blank" href="https://www.facebook.com/cimmerian.co/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
  </div>
<footer>
