body,
html {
  height:100%;
  margin:0;
  padding:0;
  background-color: #2E3532;
  background-image: url('../assets/img/cimmerian.jpg');
  background-size:cover;
  color:#fff;
  font-size:14px;
  line-height:1.5em;
}

img {
  max-width:100%;
  height:auto;
}

h1 {
  font-size:4em;
  text-align:center;
  font-family: 'infinitumregular';
}

#logo {
  position:absolute;
  top:200px;
  left:50%;
  width:300px;
  text-align:center;
  margin-left:-150px;
}

.wrap {
  max-width: 800px;
  margin: 0 auto;
}

.title {
  margin:40px 0;
  text-align:center;
}

.text {
  margin:40px 0;
}

.text .col {
  width:calc(50% - 20px);
  margin: 0 10px;
  float:left;
}

hr {
  height:2px;
  border:0;
  background: #fff;
  margin:0 auto;
  display:block;
}

hr.small {
  width:150px;
}
