body,
html {
  min-height:100%;
  margin:0;
  padding:0;
  background-color: #2E3532;
  background-image: url('../assets/img/cimmerian.jpg');
  background-size:cover;
  color:#fff;
  font-size:14px;
  line-height:1.5em;
  font-family: 'influencesemibold', serif;

}

img {
  max-width:100%;
  height:auto;
}

h1 {
  font-size:4em;
  text-align:center;
  font-family: 'infinitumregular';
  letter-spacing: 2px;
}

#logo {
  position:absolute;
  top:200px;
  left:50%;
  width:300px;
  text-align:center;
  margin-left:-150px;
}

.wrap {
  max-width: 800px;
  margin: 0 auto;
}

.title {
  margin:40px 0;
  text-align:center;
}

.text {
  margin:40px 0;
  overflow: hidden;
}

.text .col {
  width:calc(50% - 20px);
  margin: 0 10px;
  float:left;
}

hr {
  height:2px;
  border:0;
  background: #fff;
  margin:0 auto;
  display:block;
}

hr.small {
  width:150px;
}

.timeline-wrap {
  width: 100%;
  height:200px;
  position: fixed;
  left:0;
  right:0;
  top: 0;
}

.timeline {
  width: 100%;
  height: 1px;
  margin:99px 0;
  position:absolute;
}

.timeline .timeline-svg {
  width: 100%;
}

.timeline .event {
  position: absolute;
  margin-top:-10px;
  width: 20px;
  height: 20px;
}

.timeline .event .branch {
  width: 20px;
  height: 20px;
  margin-left: -7px;
}

.timeline .event .event-title {
  margin-bottom: 0;
  width: 80px;
  margin-top: 10px;
}

.timeline .event .event-title a {
  color: #fff;
  text-decoration: none;
}

.timeline .event .time {
  font-size: 10px;
  line-height: 5px;
  width: 80px;
  display: block;
  margin-top: 5px;
  opacity: 0.3;
}

.journal-container {
  margin-top: 300px;
  position: absolute;
  left: 0;
  width: 100%;
}

.single-journal {
  max-width: 800px;
  margin: 0 auto;
}

.single-journal .cover-photo {
  width: 100%;
}

.single-journal .title {
  margin: -10px 0 20px 0;

}

.single-journal .time {
  opacity: 0.3;
  text-align:center;
}
